/* 通用样式 */
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

/* 导航栏样式 */
.navbar {
	background-color: #333;
	/* 导航栏背景色 */
	overflow: hidden;
	/* 清除浮动 */
}

.navbar-list {
	display: flex;
	/* 使用Flexbox布局 */
	justify-content: center;
	/* 子元素水平居中 */
	align-items: center;
	/* 子元素垂直居中（如果需要的话）*/
	padding: 0;
	/* 移除默认的内边距 */
	margin: 0;
	/* 移除默认的外边距 */
	list-style: none;
	/* 移除列表样式 */
}

.navbar-item {
	/* 如果有需要，可以为li标签添加样式 */
}

.navbar-item a {
	color: white;
	/* 链接文字颜色 */
	text-align: center;
	/* 文本居中 */
	padding: 14px 16px;
	/* 内边距 */
	text-decoration: none;
	/* 移除下划线 */
	display: block;
	/* 转换为块级元素 */
}

.navbar-item a:hover {
	background-color: #ddd;
	/* 链接鼠标悬停时的背景色 */
	color: black;
	/* 链接鼠标悬停时的文字颜色 */
}

/* 页脚部分样式 */
footer {
	padding: 10px;
	background-color: #333;
	color: #fff;
	text-align: center;
}